        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'categorieProfTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <div class="card">
                <p-toast></p-toast>
                <p-steps [model]="steps" [(activeIndex)]="next" [readonly]="true">
                </p-steps>
            </div>

            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'categorieProfTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'categorieProfCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'categorieProfCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCategorieProfCode}"  />
                                                    <small class='p-error' *ngIf='!validCategorieProfCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'categorieProfLevel' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'categorieProfLevel' | translate}}" id="2" [(ngModel)]="item.level"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'categorieProfLessonRate' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'categorieProfLessonRate' | translate}}" [(ngModel)]="item.lessonRate"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'Profs' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Ref<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                               id="1" [(ngModel)]="profsElement.ref" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validProfsRef}"  >
                                                                        <small class='p-error' *ngIf='!validProfsRef'>Ref est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">About</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="About"
                                                                               id="2" [(ngModel)]="profsElement.about" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Email</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Email"
                                                                               id="3" [(ngModel)]="profsElement.email" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Level min</label>
                                                                        <p-dropdown  appendTo="body"  [options]="levelMins" [(ngModel)]="profsElement.levelMin"
                                                                                     id="4"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Level min"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateParcours('parcours')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>

                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Level max</label>
                                                                        <p-dropdown  appendTo="body"  [options]="levelMaxs" [(ngModel)]="profsElement.levelMax"
                                                                                     id="5"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Level max"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateParcours('parcours')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>

                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Type teacher</label>
                                                                        <p-dropdown  appendTo="body"  [options]="typeTeachers" [(ngModel)]="profsElement.typeTeacher"
                                                                                     id="10"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Type teacher"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateTypeTeacher('typeTeacher')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>

                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="11">Credentials non expired</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="11"  [(ngModel)]="profsElement.credentialsNonExpired"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="12">Enabled</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="12"  [(ngModel)]="profsElement.enabled"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="13">Account non expired</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="13"  [(ngModel)]="profsElement.accountNonExpired"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="14">Account non locked</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="14"  [(ngModel)]="profsElement.accountNonLocked"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="15">Password changed</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="15"  [(ngModel)]="profsElement.passwordChanged"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="16">Created at</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="createdAt" placeholder="Created at"  [(ngModel)]="profsElement.createdAt"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="17">Updated at</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="updatedAt" placeholder="Updated at"  [(ngModel)]="profsElement.updatedAt"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="18">Username</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Username"
                                                                               id="18" [(ngModel)]="profsElement.username" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="19">Password</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Password"
                                                                               id="19" [(ngModel)]="profsElement.password" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="20">Prenom</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Prenom"
                                                                               id="20" [(ngModel)]="profsElement.prenom" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="21">Nom</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Nom"
                                                                               id="21" [(ngModel)]="profsElement.nom" autofocus   >
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addProfs()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.profs?.length > 0 ? '(' + item.profs?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.profs" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Ref</th>
                                                                                <th>About</th>
                                                                                <th>Email</th>
                                                                                <th>Level min</th>
                                                                                <th>Level max</th>
                                                                                <th>Type teacher</th>
                                                                                <th>Credentials non expired</th>
                                                                                <th>Enabled</th>
                                                                                <th>Account non expired</th>
                                                                                <th>Account non locked</th>
                                                                                <th>Password changed</th>
                                                                                <th>Created at</th>
                                                                                <th>Updated at</th>
                                                                                <th>Username</th>
                                                                                <th>Password</th>
                                                                                <th>Prenom</th>
                                                                                <th>Nom</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.ref}}</td>
                                                                                <td>{{p.about}}</td>
                                                                                <td>{{p.email}}</td>
                                                                            <td>{{p.levelMin?.libelle}}</td>
                                                                            <td>{{p.levelMax?.libelle}}</td>
                                                                            <td>{{p.typeTeacher?.libelle}}</td>
                                                                                <td><i *ngIf="p.credentialsNonExpired" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.credentialsNonExpired" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                                <td><i *ngIf="p.enabled" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.enabled" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                                <td><i *ngIf="p.accountNonExpired" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.accountNonExpired" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                                <td><i *ngIf="p.accountNonLocked" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.accountNonLocked" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                                <td><i *ngIf="p.passwordChanged" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.passwordChanged" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                                <td>{{p.createdAt | date: dateFormatColumn}}</td>
                                                                                <td>{{p.updatedAt | date: dateFormatColumn}}</td>
                                                                                <td>{{p.username}}</td>
                                                                                <td>{{p.password}}</td>
                                                                                <td>{{p.prenom}}</td>
                                                                                <td>{{p.nom}}</td>
                                                                    <td>
                                                                        <button (click)="deleteProf(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editProf(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div>
                            <button pButton pRipple label="Back" *ngIf="back" icon="pi pi-angle-left" class="p-button-outlined" (click)="back()"></button>
                        </div>
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  *ngIf="validate" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Suivant"  *ngIf="next" icon="pi pi-times" class="p-button-outlined" (click)="next()"></button>
                        </div>

                </div>
            </ng-template>


            <app-level-min-create-admin></app-level-min-create-admin>
            <app-level-max-create-admin></app-level-max-create-admin>
            <app-type-teacher-create-admin></app-type-teacher-create-admin>

    </p-dialog>
