
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'centreTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Ref' | translate}}" autofocus  id="1" [(ngModel)]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Libelle' | translate}}" autofocus  id="2" [(ngModel)]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Description' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Description' | translate}}" autofocus  id="3" [(ngModel)]="item.description">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Log' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Log' | translate}}" autofocus  id="4" [(ngModel)]="item.log">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Password' | translate}}" autofocus  id="5" [(ngModel)]="item.password">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'Parcourss' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.parcourss" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Date publication</th>
                                        <th>Date creation</th>
                                        <th>Description</th>
                                        <th>Code</th>
                                        <th>Libelle</th>
                                        <th>Numero order</th>
                                        <th>Nombre cours</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.datePublication | date: dateFormatColumn}}</td>
                                        <td>{{p.dateCreation | date: dateFormatColumn}}</td>
                                        <td>{{p.description}}</td>
                                        <td>{{p.code}}</td>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.numeroOrder}}</td>
                                        <td>{{p.nombreCours}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



