
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reponseEtudiantHomeWorkTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Howe work q s t reponse' | translate}}</label>
                        <p-dropdown [options]="howeWorkQSTReponses" [(ngModel)]="item.howeWorkQSTReponse" id="1" [disabled]="true" optionLabel="lib" placeholder="{{'Howe work q s t reponse' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Answer' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Answer' | translate}}" autofocus  id="2" [(ngModel)]="item.answer">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Home work etudiant' | translate}}</label>
                        <p-dropdown [options]="homeWorkEtudiants" [(ngModel)]="item.homeWorkEtudiant" id="3" [disabled]="true" optionLabel="id" placeholder="{{'Home work etudiant' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Home work question' | translate}}</label>
                        <p-dropdown [options]="homeWorkQuestions" [(ngModel)]="item.homeWorkQuestion" id="4" [disabled]="true" optionLabel="libelle" placeholder="{{'Home work question' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Prof note' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Prof note' | translate}}" autofocus  id="5" [(ngModel)]="item.profNote">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'Note' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'Note' | translate}}" [(ngModel)]="item.note"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



