
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'paiementTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Prof' | translate}}</label>
                        <p-dropdown [options]="profs" [(ngModel)]="item.prof" id="1" [disabled]="true" optionLabel="ref" placeholder="{{'Prof' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Date paiement' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date paiement' | translate}}"  [(ngModel)]="item.datePaiement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Groupe etudiant' | translate}}</label>
                        <p-dropdown [options]="groupeEtudiants" [(ngModel)]="item.groupeEtudiant" id="3" [disabled]="true" optionLabel="id" placeholder="{{'Groupe etudiant' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



