        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'parcoursTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'parcoursTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-4">
                                            <label for="1">{{'parcoursDatePublication' | translate}}</label>
                                            <p-calendar appendTo="body" id="1"   [showTime]="true" [showSeconds]="false" placeholder="{{'parcoursDatePublication' | translate}}"  [(ngModel)]="item.datePublication"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="2">{{'parcoursDateCreation' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"   [showTime]="true" [showSeconds]="false" placeholder="{{'parcoursDateCreation' | translate}}"  [(ngModel)]="item.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="3">{{'parcoursDescription' | translate}}</label>
                                            <textarea appendTo="body" id="3" pInputTextarea rows="5" cols="30" placeholder="{{'parcoursDescription' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="4">{{'parcoursCode' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'parcoursCode' | translate}}" id="4" [(ngModel)]="item.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validParcoursCode}"  />
                                            <small class='p-error' *ngIf='!validParcoursCode'>Code est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="5">{{'parcoursLibelle' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'parcoursLibelle' | translate}}" id="5" [(ngModel)]="item.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validParcoursLibelle}"  />
                                            <small class='p-error' *ngIf='!validParcoursLibelle'>Libelle est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="6">{{'parcoursNumeroOrder' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="6"
                                                           placeholder="{{'parcoursNumeroOrder' | translate}}" [(ngModel)]="item.numeroOrder"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="7">{{'parcoursNombreCours' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="7"
                                                           placeholder="{{'parcoursNombreCours' | translate}}" [(ngModel)]="item.nombreCours"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="8">{{'parcoursCentre' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="centres" [(ngModel)]="item.centre" id="8"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="ref" placeholder="{{'parcoursCentre' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus"  (click)="openCreateCentre('Centre')"  class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>


                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="{{'Courss' | translate}}">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-12 md:col-4">
                                                                <label for="1">Code<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Code"
                                                                       id="1" [(ngModel)]="courssElement.code"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validCourssCode}"  >
                                                                <small class='p-error' *ngIf='!validCourssCode'>Code est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="2">Libelle<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                       id="2" [(ngModel)]="courssElement.libelle"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validCourssLibelle}"  >
                                                                <small class='p-error' *ngIf='!validCourssLibelle'>Libelle est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="3">Description</label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Description"
                                                                       id="3" [(ngModel)]="courssElement.description"
                                                                       autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="4">Image</label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Image"
                                                                       id="4" [(ngModel)]="courssElement.image"
                                                                       autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-11 md:col-3">
                                                                <label>Etat cours</label>
                                                                <p-dropdown appendTo="body" [options]="etatCourss" [(ngModel)]="courssElement.etatCours"
                                                                        id="5"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Etat cours"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateEtatCours('EtatCours')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-12 md:col-4">
                                                                <label for="7">Nombre section finalise</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="nombreSectionFinalise" [(ngModel)]="courssElement.nombreSectionFinalise" placeholder="Nombre section finalise"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="8">Nombre section en cours</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="nombreSectionEnCours" [(ngModel)]="courssElement.nombreSectionEnCours" placeholder="Nombre section en cours"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="9">Nombre link en cours</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="nombreLinkEnCours" [(ngModel)]="courssElement.nombreLinkEnCours" placeholder="Nombre link en cours"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="10">Nombre link finalise</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="nombreLinkFinalise" [(ngModel)]="courssElement.nombreLinkFinalise" placeholder="Nombre link finalise"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="11">Numero order</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="numeroOrder" [(ngModel)]="courssElement.numeroOrder" placeholder="Numero order"  ></p-inputNumber>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addCourss()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.courss?.length > 0 ? '(' + item.courss?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.courss" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Code</th>
                                                                        <th>Libelle</th>
                                                                        <th>Description</th>
                                                                        <th>Image</th>
                                                                        <th>Etat cours</th>
                                                                        <th>Nombre section finalise</th>
                                                                        <th>Nombre section en cours</th>
                                                                        <th>Nombre link en cours</th>
                                                                        <th>Nombre link finalise</th>
                                                                        <th>Numero order</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.code}}</td>
                                                                        <td>{{p.libelle}}</td>
                                                                        <td>{{p.description}}</td>
                                                                        <td>{{p.image}}</td>
                                                                    <td>{{p.etatCours?.libelle}}</td>
                                                                        <td>{{p.nombreSectionFinalise}}</td>
                                                                        <td>{{p.nombreSectionEnCours}}</td>
                                                                        <td>{{p.nombreLinkEnCours}}</td>
                                                                        <td>{{p.nombreLinkFinalise}}</td>
                                                                        <td>{{p.numeroOrder}}</td>
                                                            <td>
                                                                <button (click)="deleteCours(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editCours(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                            <p-tabPanel header="{{'Etudiants' | translate}}">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-12 md:col-4">
                                                                <label for="1">Ref<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                       id="1" [(ngModel)]="etudiantsElement.ref"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validEtudiantsRef}"  >
                                                                <small class='p-error' *ngIf='!validEtudiantsRef'>Ref est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-11 md:col-3">
                                                                <label>Teacher locality</label>
                                                                <p-dropdown appendTo="body" [options]="teacherLocalitys" [(ngModel)]="etudiantsElement.teacherLocality"
                                                                        id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Teacher locality"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateTeacherLocality('TeacherLocality')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-12 md:col-4">
                                                                <label for="3">Group option</label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Group option"
                                                                       id="3" [(ngModel)]="etudiantsElement.groupOption"
                                                                       autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="4">Email</label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Email"
                                                                       id="4" [(ngModel)]="etudiantsElement.email"
                                                                       autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-11 md:col-3">
                                                                <label>Etat etudiant schedule</label>
                                                                <p-dropdown appendTo="body" [options]="etatEtudiantSchedules" [(ngModel)]="etudiantsElement.etatEtudiantSchedule"
                                                                        id="5"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Etat etudiant schedule"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateEtatEtudiantSchedule('EtatEtudiantSchedule')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Groupe etude</label>
                                                                <p-dropdown appendTo="body" [options]="groupeEtudes" [(ngModel)]="etudiantsElement.groupeEtude"
                                                                        id="8"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Groupe etude"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateGroupeEtude('GroupeEtude')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-12  md:col-4">
                                                                <label>Groupe etudiant</label>
                                                                <p-multiSelect  appendTo="body" [options]="groupeEtudiantDetails" [(ngModel)]="etudiantsElement.groupeEtudiantDetails" defaultLabel="Selectionner un Groupe etudiant" optionLabel="groupeEtudiant.id"  display="chip"></p-multiSelect>
                                                            </div>
                                                            <div class="field col-11 md:col-3">
                                                                <label>Pack student</label>
                                                                <p-dropdown appendTo="body" [options]="packStudents" [(ngModel)]="etudiantsElement.packStudent"
                                                                        id="10"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Pack student"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreatePackStudent('PackStudent')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Statut social</label>
                                                                <p-dropdown appendTo="body" [options]="statutSocials" [(ngModel)]="etudiantsElement.statutSocial"
                                                                        id="11"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Statut social"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateStatutSocial('StatutSocial')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Interet etudiant</label>
                                                                <p-dropdown appendTo="body" [options]="interetEtudiants" [(ngModel)]="etudiantsElement.interetEtudiant"
                                                                        id="12"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Interet etudiant"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateInteretEtudiant('InteretEtudiant')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Niveau etude</label>
                                                                <p-dropdown appendTo="body" [options]="niveauEtudes" [(ngModel)]="etudiantsElement.niveauEtude"
                                                                        id="13"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="code" placeholder="Niveau etude"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateNiveauEtude('NiveauEtude')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Skill</label>
                                                                <p-dropdown appendTo="body" [options]="skills" [(ngModel)]="etudiantsElement.skill"
                                                                        id="14"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Skill"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateSkill('Skill')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Fonction</label>
                                                                <p-dropdown appendTo="body" [options]="fonctions" [(ngModel)]="etudiantsElement.fonction"
                                                                        id="15"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Fonction"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateFonction('Fonction')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="field col-11 md:col-3">
                                                                <label>Langue</label>
                                                                <p-dropdown appendTo="body" [options]="langues" [(ngModel)]="etudiantsElement.langue"
                                                                        id="16"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Langue"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus"   (click)="openCreateLangue('Langue')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addEtudiants()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.etudiants?.length > 0 ? '(' + item.etudiants?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.etudiants" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Ref</th>
                                                                        <th>Teacher locality</th>
                                                                        <th>Group option</th>
                                                                        <th>Email</th>
                                                                        <th>Etat etudiant schedule</th>
                                                                        <th>Groupe etude</th>
                                                                        <th>Pack student</th>
                                                                        <th>Statut social</th>
                                                                        <th>Interet etudiant</th>
                                                                        <th>Niveau etude</th>
                                                                        <th>Skill</th>
                                                                        <th>Fonction</th>
                                                                        <th>Langue</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.ref}}</td>
                                                                    <td>{{p.teacherLocality?.libelle}}</td>
                                                                        <td>{{p.groupOption}}</td>
                                                                        <td>{{p.email}}</td>
                                                                    <td>{{p.etatEtudiantSchedule?.libelle}}</td>
                                                                    <td>{{p.groupeEtude?.libelle}}</td>
                                                                    <td>{{p.packStudent?.libelle}}</td>
                                                                    <td>{{p.statutSocial?.libelle}}</td>
                                                                    <td>{{p.interetEtudiant?.libelle}}</td>
                                                                    <td>{{p.niveauEtude?.code}}</td>
                                                                    <td>{{p.skill?.libelle}}</td>
                                                                    <td>{{p.fonction?.libelle}}</td>
                                                                    <td>{{p.langue?.libelle}}</td>
                                                            <td>
                                                                <button (click)="deleteEtudiant(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editEtudiant(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-centre-create-admin></app-centre-create-admin>

                            <app-etat-cours-create-admin></app-etat-cours-create-admin>
                            <app-teacher-locality-create-admin></app-teacher-locality-create-admin>
                            <app-etat-etudiant-schedule-create-admin></app-etat-etudiant-schedule-create-admin>
                            <app-groupe-etude-create-admin></app-groupe-etude-create-admin>
                            <app-pack-student-create-admin></app-pack-student-create-admin>
                            <app-statut-social-create-admin></app-statut-social-create-admin>
                            <app-interet-etudiant-create-admin></app-interet-etudiant-create-admin>
                            <app-niveau-etude-create-admin></app-niveau-etude-create-admin>
                            <app-skill-create-admin></app-skill-create-admin>
                            <app-fonction-create-admin></app-fonction-create-admin>
                            <app-langue-create-admin></app-langue-create-admin>

    </p-dialog>
