
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reclamationEtudiantTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Reference' | translate}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Date reclamation' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date reclamation' | translate}}"  [(ngModel)]="item.dateReclamation" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Message' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Message' | translate}}"  [(ngModel)]="item.message"></textarea>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Set from' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Set from' | translate}}" autofocus  id="4" [(ngModel)]="item.setFrom">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Img' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Img' | translate}}" autofocus  id="5" [(ngModel)]="item.img">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="6">{{'Traite' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="item.traite"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Date traitement' | translate}}</label>
                        <p-calendar id="7" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date traitement' | translate}}"  [(ngModel)]="item.dateTraitement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Date reponse' | translate}}</label>
                        <p-calendar id="8" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date reponse' | translate}}"  [(ngModel)]="item.dateReponse" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="9">{{'Post view' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="9"  [disabled]="true" [(ngModel)]="item.postView"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Objet reclamation etudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Objet reclamation etudiant' | translate}}" autofocus  id="10" [(ngModel)]="item.objetReclamationEtudiant">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Commentaire traiteur' | translate}}</label>
                        <textarea id="11" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Commentaire traiteur' | translate}}"  [(ngModel)]="item.commentaireTraiteur"></textarea>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="12">{{'Username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Username' | translate}}" autofocus  id="12" [(ngModel)]="item.username">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="13">{{'Type reclamation etudiant' | translate}}</label>
                        <p-dropdown [options]="typeReclamationEtudiants" [(ngModel)]="item.typeReclamationEtudiant" id="13" [disabled]="true" optionLabel="libelle" placeholder="{{'Type reclamation etudiant' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



