
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'coursTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Libelle' | translate}}" autofocus  id="2" [(ngModel)]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Description' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Image' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Image' | translate}}" autofocus  id="4" [(ngModel)]="item.image">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Etat cours' | translate}}</label>
                        <p-dropdown [options]="etatCourss" [(ngModel)]="item.etatCours" id="5" [disabled]="true" optionLabel="libelle" placeholder="{{'Etat cours' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Parcours' | translate}}</label>
                        <p-dropdown [options]="parcourss" [(ngModel)]="item.parcours" id="6" [disabled]="true" optionLabel="libelle" placeholder="{{'Parcours' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Nombre section finalise' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'Nombre section finalise' | translate}}" [(ngModel)]="item.nombreSectionFinalise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Nombre section en cours' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'Nombre section en cours' | translate}}" [(ngModel)]="item.nombreSectionEnCours"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="9">{{'Nombre link en cours' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'Nombre link en cours' | translate}}" [(ngModel)]="item.nombreLinkEnCours"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Nombre link finalise' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" [disabled]="true" placeholder="{{'Nombre link finalise' | translate}}" [(ngModel)]="item.nombreLinkFinalise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Numero order' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="11" [disabled]="true" placeholder="{{'Numero order' | translate}}" [(ngModel)]="item.numeroOrder"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'Sections' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.sections" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th>Libelle</th>
                                        <th>Url image</th>
                                        <th>Url image2</th>
                                        <th>Url image3</th>
                                        <th>Url video</th>
                                        <th>Contenu</th>
                                        <th>Questions</th>
                                        <th>Indication prof</th>
                                        <th>Numero order</th>
                                        <th>Categorie section</th>
                                        <th>Url</th>
                                        <th>Content</th>
                                        <th>Session cours</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.code}}</td>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.urlImage}}</td>
                                        <td>{{p.urlImage2}}</td>
                                        <td>{{p.urlImage3}}</td>
                                        <td>{{p.urlVideo}}</td>
                                        <td>{{p.contenu}}</td>
                                        <td>{{p.questions}}</td>
                                        <td>{{p.indicationProf}}</td>
                                        <td>{{p.numeroOrder}}</td>
                                        <td>{{p.categorieSection?.code}}</td>
                                        <td>{{p.url}}</td>
                                        <td>{{p.content}}</td>
                                        <td>{{p.sessionCours?.reference}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Home works' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.homeWorks" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Url image</th>
                                        <th>Url video</th>
                                        <th>Type home work</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.urlImage}}</td>
                                        <td>{{p.urlVideo}}</td>
                                        <td>{{p.typeHomeWork?.lib}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



