        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'profTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <div class="card">
                <p-toast></p-toast>
                <p-steps [model]="steps" [(activeIndex)]="next" [readonly]="true">
                </p-steps>
            </div>

            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'profTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-3">
                                                    <label for="1">{{'profRef' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profRef' | translate}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validProfRef}"  />
                                                    <small class='p-error' *ngIf='!validProfRef'>Ref est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="2">{{'profAbout' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profAbout' | translate}}" id="2" [(ngModel)]="item.about"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="3">{{'profEmail' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profEmail' | translate}}" id="3" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-2">
                                                <label for="4">{{'profLevelMin' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="levelMins" [(ngModel)]="item.levelMin" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'profLevelMin' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateParcours('Parcours')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-2">
                                                <label for="5">{{'profLevelMax' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="levelMaxs" [(ngModel)]="item.levelMax" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'profLevelMax' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateParcours('Parcours')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-2">
                                                <label for="7">{{'profCategorieProf' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="categorieProfs" [(ngModel)]="item.categorieProf" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'profCategorieProf' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCategorieProf('CategorieProf')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-2">
                                                <label for="10">{{'profTypeTeacher' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="typeTeachers" [(ngModel)]="item.typeTeacher" id="10" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'profTypeTeacher' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTypeTeacher('TypeTeacher')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field align-inputswitch col-12  md:col-3">
                                                    <div  class="label-inputswitch">
                                                        <label for="11">{{'profCredentialsNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="11"  [(ngModel)]="item.credentialsNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-3">
                                                    <div  class="label-inputswitch">
                                                        <label for="12">{{'profEnabled' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="12"  [(ngModel)]="item.enabled"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-3">
                                                    <div  class="label-inputswitch">
                                                        <label for="13">{{'profAccountNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="13"  [(ngModel)]="item.accountNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-3">
                                                    <div  class="label-inputswitch">
                                                        <label for="14">{{'profAccountNonLocked' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="14"  [(ngModel)]="item.accountNonLocked"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-3">
                                                    <div  class="label-inputswitch">
                                                        <label for="15">{{'profPasswordChanged' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="15"  [(ngModel)]="item.passwordChanged"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field col-12 md:col-3">
                                                    <label for="16">{{'profCreatedAt' | translate}}</label>
                                                    <p-calendar appendTo="body" id="16"  [showTime]="true" [showSeconds]="false" placeholder="{{'profCreatedAt' | translate}}"  [(ngModel)]="item.createdAt"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-3">
                                                    <label for="17">{{'profUpdatedAt' | translate}}</label>
                                                    <p-calendar appendTo="body" id="17"  [showTime]="true" [showSeconds]="false" placeholder="{{'profUpdatedAt' | translate}}"  [(ngModel)]="item.updatedAt"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-3">
                                                    <label for="18">{{'profUsername' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profUsername' | translate}}" id="18" [(ngModel)]="item.username"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="19">{{'profPassword' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profPassword' | translate}}" id="19" [(ngModel)]="item.password"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="20">{{'profPrenom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profPrenom' | translate}}" id="20" [(ngModel)]="item.prenom"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="21">{{'profNom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'profNom' | translate}}" id="21" [(ngModel)]="item.nom"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'Tranche horaire prof list' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Start hour</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Start hour"
                                                                               id="2" [(ngModel)]="trancheHoraireProfListElement.startHour" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">End hour</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="End hour"
                                                                               id="3" [(ngModel)]="trancheHoraireProfListElement.endHour" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Day</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="day" placeholder="Day"  [(ngModel)]="trancheHoraireProfListElement.day"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="5">Group index</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="groupIndex" placeholder="Group index"  [(ngModel)]="trancheHoraireProfListElement.groupIndex"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="6">Profs id</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="profsId" placeholder="Profs id"  [(ngModel)]="trancheHoraireProfListElement.profsId"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addTrancheHoraireProfList()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.trancheHoraireProfList?.length > 0 ? '(' + item.trancheHoraireProfList?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.trancheHoraireProfList" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Start hour</th>
                                                                                <th>End hour</th>
                                                                                <th>Day</th>
                                                                                <th>Group index</th>
                                                                                <th>Profs id</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.startHour}}</td>
                                                                                <td>{{p.endHour}}</td>
                                                                                <td>{{p.day}}</td>
                                                                                <td>{{p.groupIndex}}</td>
                                                                                <td>{{p.profsId}}</td>
                                                                    <td>
                                                                        <button (click)="deleteTrancheHoraireProf(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editTrancheHoraireProf(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="{{'Class rooms' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Libelle<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="1" [(ngModel)]="classRoomsElement.libelle" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validClassRoomsLibelle}"  >
                                                                        <small class='p-error' *ngIf='!validClassRoomsLibelle'>Libelle est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Description</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Description"
                                                                               id="2" [(ngModel)]="classRoomsElement.description" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12  md:col-4">
                                                                        <label>Etudiant</label>
                                                                        <p-multiSelect appendTo="body" [options]="etudiantClassRooms" [(ngModel)]="classRoomsElement.etudiantClassRooms" defaultLabel="Selectionner un Etudiant" itemSize="30" [virtualScroll]="true"
                                                                                       optionLabel="etudiant.ref"  display="chip"></p-multiSelect>
                                                                    </div>
                                                                    <div class="field col-12  md:col-4">
                                                                        <label>Quiz</label>
                                                                        <p-multiSelect appendTo="body" [options]="quizClassRooms" [(ngModel)]="classRoomsElement.quizClassRooms" defaultLabel="Selectionner un Quiz" itemSize="30" [virtualScroll]="true"
                                                                                       optionLabel="quiz.lib"  display="chip"></p-multiSelect>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addClassRooms()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.classRooms?.length > 0 ? '(' + item.classRooms?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.classRooms" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Libelle</th>
                                                                                <th>Description</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.description}}</td>
                                                                    <td>
                                                                        <button (click)="deleteClassRoom(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editClassRoom(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="{{'Recommend teachers' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Ref<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                               id="1" [(ngModel)]="recommendTeachersElement.ref" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validRecommendTeachersRef}"  >
                                                                        <small class='p-error' *ngIf='!validRecommendTeachersRef'>Ref est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Nombrevote</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="nombrevote" placeholder="Nombrevote"  [(ngModel)]="recommendTeachersElement.nombrevote"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Nom</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Nom"
                                                                               id="3" [(ngModel)]="recommendTeachersElement.nom" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Prenom</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Prenom"
                                                                               id="4" [(ngModel)]="recommendTeachersElement.prenom" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="5">Commentaire</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Commentaire"
                                                                               id="5" [(ngModel)]="recommendTeachersElement.commentaire" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="6">Telephone</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Telephone"
                                                                               id="6" [(ngModel)]="recommendTeachersElement.telephone" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="7">Login</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Login"
                                                                               id="7" [(ngModel)]="recommendTeachersElement.login" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="8">Date recommamdation</label>
                                                                        <p-calendar appendTo="body" id="8"  [showTime]="true" [showSeconds]="false" placeholder="Date recommamdation" [(ngModel)]="recommendTeachersElement.dateRecommamdation"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addRecommendTeachers()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.recommendTeachers?.length > 0 ? '(' + item.recommendTeachers?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.recommendTeachers" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Ref</th>
                                                                                <th>Nombrevote</th>
                                                                                <th>Nom</th>
                                                                                <th>Prenom</th>
                                                                                <th>Commentaire</th>
                                                                                <th>Telephone</th>
                                                                                <th>Login</th>
                                                                                <th>Date recommamdation</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.ref}}</td>
                                                                                <td>{{p.nombrevote}}</td>
                                                                                <td>{{p.nom}}</td>
                                                                                <td>{{p.prenom}}</td>
                                                                                <td>{{p.commentaire}}</td>
                                                                                <td>{{p.telephone}}</td>
                                                                                <td>{{p.login}}</td>
                                                                                <td>{{p.dateRecommamdation | date: dateFormatColumn}}</td>
                                                                    <td>
                                                                        <button (click)="deleteRecommendTeacher(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editRecommendTeacher(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div>
                            <button pButton pRipple label="Back" *ngIf="back" icon="pi pi-angle-left" class="p-button-outlined" (click)="back()"></button>
                        </div>
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  *ngIf="validate" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Suivant"  *ngIf="next" icon="pi pi-times" class="p-button-outlined" (click)="next()"></button>
                        </div>

                </div>
            </ng-template>

            <app-level-min-create-admin></app-level-min-create-admin>
            <app-level-max-create-admin></app-level-max-create-admin>
            <app-categorie-prof-create-admin></app-categorie-prof-create-admin>
            <app-type-teacher-create-admin></app-type-teacher-create-admin>


    </p-dialog>
