
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'trancheHoraireProfTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Prof' | translate}}</label>
                        <p-dropdown [options]="profs" [(ngModel)]="item.prof" id="1" [disabled]="true" optionLabel="ref" placeholder="{{'Prof' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Start hour' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Start hour' | translate}}" autofocus  id="2" [(ngModel)]="item.startHour">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'End hour' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'End hour' | translate}}" autofocus  id="3" [(ngModel)]="item.endHour">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Day' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'Day' | translate}}" [(ngModel)]="item.day"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Group index' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'Group index' | translate}}" [(ngModel)]="item.groupIndex"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'Profs id' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'Profs id' | translate}}" [(ngModel)]="item.profsId"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



