
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'profTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Ref' | translate}}" autofocus  id="1" [(ngModel)]="item.ref">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'About' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'About' | translate}}" autofocus  id="2" [(ngModel)]="item.about">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Email' | translate}}" autofocus  id="3" [(ngModel)]="item.email">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Level min' | translate}}</label>
                        <p-dropdown [options]="levelMins" [(ngModel)]="item.levelMin" id="4" [disabled]="true" optionLabel="libelle" placeholder="{{'Level min' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Level max' | translate}}</label>
                        <p-dropdown [options]="levelMaxs" [(ngModel)]="item.levelMax" id="5" [disabled]="true" optionLabel="libelle" placeholder="{{'Level max' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Categorie prof' | translate}}</label>
                        <p-dropdown [options]="categorieProfs" [(ngModel)]="item.categorieProf" id="7" [disabled]="true" optionLabel="code" placeholder="{{'Categorie prof' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Type teacher' | translate}}</label>
                        <p-dropdown [options]="typeTeachers" [(ngModel)]="item.typeTeacher" id="10" [disabled]="true" optionLabel="libelle" placeholder="{{'Type teacher' | translate}}"></p-dropdown>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="11">{{'Credentials non expired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="item.credentialsNonExpired"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="12">{{'Enabled' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="12"  [disabled]="true" [(ngModel)]="item.enabled"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="13">{{'Account non expired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="13"  [disabled]="true" [(ngModel)]="item.accountNonExpired"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="14">{{'Account non locked' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="14"  [disabled]="true" [(ngModel)]="item.accountNonLocked"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-3">
                        <div  class="label-inputswitch">
                            <label for="15">{{'Password changed' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="15"  [disabled]="true" [(ngModel)]="item.passwordChanged"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="16">{{'Created at' | translate}}</label>
                        <p-calendar id="16" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Created at' | translate}}"  [(ngModel)]="item.createdAt" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="17">{{'Updated at' | translate}}</label>
                        <p-calendar id="17" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Updated at' | translate}}"  [(ngModel)]="item.updatedAt" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="18">{{'Username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Username' | translate}}" autofocus  id="18" [(ngModel)]="item.username">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="19">{{'Password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Password' | translate}}" autofocus  id="19" [(ngModel)]="item.password">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="20">{{'Prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Prenom' | translate}}" autofocus  id="20" [(ngModel)]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="21">{{'Nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Nom' | translate}}" autofocus  id="21" [(ngModel)]="item.nom">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'Tranche horaire prof list' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.trancheHoraireProfList" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Start hour</th>
                                        <th>End hour</th>
                                        <th>Day</th>
                                        <th>Group index</th>
                                        <th>Profs id</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.startHour}}</td>
                                        <td>{{p.endHour}}</td>
                                        <td>{{p.day}}</td>
                                        <td>{{p.groupIndex}}</td>
                                        <td>{{p.profsId}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Class rooms' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.classRooms" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Recommend teachers' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.recommendTeachers" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Ref</th>
                                        <th>Nombrevote</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Commentaire</th>
                                        <th>Telephone</th>
                                        <th>Login</th>
                                        <th>Date recommamdation</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.ref}}</td>
                                        <td>{{p.nombrevote}}</td>
                                        <td>{{p.nom}}</td>
                                        <td>{{p.prenom}}</td>
                                        <td>{{p.commentaire}}</td>
                                        <td>{{p.telephone}}</td>
                                        <td>{{p.login}}</td>
                                        <td>{{p.dateRecommamdation | date: dateFormatColumn}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



