
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reponseTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Ref' | translate}}" autofocus  id="1" [(ngModel)]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Lib' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Lib' | translate}}" autofocus  id="2" [(ngModel)]="item.lib">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Etat reponse' | translate}}</label>
                        <p-dropdown [options]="etatReponses" [(ngModel)]="item.etatReponse" id="3" [disabled]="true" optionLabel="libelle" placeholder="{{'Etat reponse' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Numero' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'Numero' | translate}}" [(ngModel)]="item.numero"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Question' | translate}}</label>
                        <p-dropdown [options]="questions" [(ngModel)]="item.question" id="5" [disabled]="true" optionLabel="libelle" placeholder="{{'Question' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



