
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'contactTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Name' | translate}}" autofocus  id="1" [(ngModel)]="item.name">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Email' | translate}}" autofocus  id="2" [(ngModel)]="item.email">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="3">{{'Phone' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Phone' | translate}}" autofocus  id="3" [(ngModel)]="item.phone">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'Set from' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Set from' | translate}}" autofocus  id="4" [(ngModel)]="item.setFrom">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="5">{{'Date contact' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date contact' | translate}}"  [(ngModel)]="item.dateContact" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-4">
                        <div  class="label-inputswitch">
                            <label for="6">{{'Replied' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="item.replied"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="7">{{'Message' | translate}}</label>
                        <textarea id="7" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Message' | translate}}"  [(ngModel)]="item.message"></textarea>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



