        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'etatEtudiantTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'etatEtudiantTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'etatEtudiantReference' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtatEtudiantReference}"  />
                                            <small class='p-error' *ngIf='!validEtatEtudiantReference'>Reference est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'etatEtudiantUsername' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantUsername' | translate}}" id="2" [(ngModel)]="item.username"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="3">{{'etatEtudiantFirstName' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantFirstName' | translate}}" id="3" [(ngModel)]="item.firstName"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="4">{{'etatEtudiantLastName' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantLastName' | translate}}" id="4" [(ngModel)]="item.lastName"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="5">{{'etatEtudiantNationnalite' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantNationnalite' | translate}}" id="5" [(ngModel)]="item.nationnalite"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'etatEtudiantSchedule1' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantSchedule1' | translate}}" id="6" [(ngModel)]="item.schedule1"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="7">{{'etatEtudiantSchedule2' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantSchedule2' | translate}}" id="7" [(ngModel)]="item.schedule2"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="8">{{'etatEtudiantLastClass' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantLastClass' | translate}}" id="8" [(ngModel)]="item.lastClass"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="9">{{'etatEtudiantNbrClass' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantNbrClass' | translate}}" id="9" [(ngModel)]="item.nbrClass"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="10">{{'etatEtudiantEtat' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'etatEtudiantEtat' | translate}}" id="10" [(ngModel)]="item.etat"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="11">{{'etatEtudiantEtatNumber' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="11"
                                                           placeholder="{{'etatEtudiantEtatNumber' | translate}}" [(ngModel)]="item.etatNumber"  >
                                            </p-inputNumber>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
