<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('EtudiantReview')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="etudiants" [(ngModel)]="criteria.etudiant" id="1" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Etudiant' | translate}}" optionLabel="ref">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="profs" [(ngModel)]="criteria.prof" id="2" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Prof' | translate}}" optionLabel="ref">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="courss" [(ngModel)]="criteria.cours" id="3" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Cours' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-inputNumber class="mr-2" mode="decimal" [(ngModel)]="criteria.reviewMin" id="4-1"></p-inputNumber>
                            <label for="4-1">{{'Review' | translate}} Min</label>
                        </span>
                       <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-inputNumber class="mr-2" mode="decimal" [(ngModel)]="criteria.reviewMax" id="4-2"></p-inputNumber>
                            <label for="4-2">{{'Review' | translate}} Max</label>
                       </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="5" type="text"  [(ngModel)]="criteria.commentLike">
                            <label for="5">{{'Comment' | translate}}</label>
                        </span>

                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateReviewFrom"
                                    id="6-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-1">{{'Date review' | translate}} Min</label>
                        </span>

                         <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateReviewTo"
                                    id="6-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-2">{{'Date review' | translate}} Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['etudiantref', 'profref', 'courslibelle', 'review', 'comment', 'dateReview']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'Les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'etudiantReviewHeader' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="etudiant">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Etudiant' | translate}}</span>
                                <p-sortIcon field="etudiant"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prof">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Prof' | translate}}</span>
                                <p-sortIcon field="prof"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="cours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Cours' | translate}}</span>
                                <p-sortIcon field="cours"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="review">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Review' | translate}}</span>
                                <p-sortIcon field="review"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="comment">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Comment' | translate}}</span>
                                <p-sortIcon field="comment"></p-sortIcon>
                                <p-columnFilter type="text" field="element.comment" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dateReview">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Date review' | translate}}</span>
                                <p-sortIcon field="dateReview"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.etudiant?.ref}}</td>
                            
                            
                        <td>{{element.prof?.ref}}</td>
                            
                            
                        <td>{{element.cours?.libelle}}</td>
                            
                            
                        <td>{{element.review}}</td>
                            
                            
                        <td>{{element.comment}}</td>
                            
                            
                        <td>{{element.dateReview | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'etudiant review' : 'etudiant reviews' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-etudiant-review-create-admin></app-etudiant-review-create-admin>
        <app-etudiant-review-edit-admin></app-etudiant-review-edit-admin>
        <app-etudiant-review-view-admin></app-etudiant-review-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
